Options -MultiViews -Indexes

ErrorDocument 404 /404.php
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} !-f    
RewriteRule ^song/([^/]*)$ song.php?name=$1 [L]

RewriteRule ^song-list$ /song-list.php [L]